<section class="image-section" style="background-image: url('{{ page.media.images|first.url }}')">
    <div class="image-section-container">
    </div> {# .image-section-container #}
</section> {# .image-section #}