{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="hero-section">
        <div class="hero-section-container">
            <div class="hero-text">
               {{ page.content }}
            </div>
        </div>
    </section>
{% endblock %}
