// SPECTRE VARIABLES BEGIN

// Core variables
// Colors
// Core colors

$primary-color: #D12428 !default;
$primary-color-dark: darken($primary-color, 10%) !default;
$primary-color-light: lighten($primary-color, 10%) !default;

$secondary-color: lighten(#000000, 10%) !default;
$secondary-color-dark: darken($secondary-color, 10%) !default;
$secondary-color-light: lighten($secondary-color, 10%) !default;


// Gray colors
$dark-color: lighten(#000000, 10%) !default;
$light-color: #fff !default;
$gray-color: lighten($dark-color, 40%) !default;
$gray-color-dark: darken($gray-color, 20%) !default;
$gray-color-light: lighten($gray-color, 20%) !default;

$border-color: lighten($dark-color, 60%) !default;
$border-color-dark: darken($border-color, 10%) !default;
$bg-color: lighten($dark-color, 66%) !default;
$bg-color-dark: darken($bg-color, 3%) !default;
$bg-color-light: $light-color !default;


// Basic Components
$link-color: $primary-color !default;
$link-color-dark: darken($link-color, 5%) !default;

//$title-color: #000 !default;
$title-color: $dark-color !default;

// Control colors
$info-color: #3498db !default;
$success-color: #32b643 !default;
$warning-color: #ffb700 !default;
$error-color: #e74c3c !default;

// Other colors
$code-color: #e06870 !default;
$highlight-color: #ffe9b3 !default;
$body-bg: $bg-color-light !default;
$body-font-color: lighten($dark-color, 5%) !default;

// Fonts
// Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
// $base-font-family: 'Poppins', sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;
$base-font-family: 'Arial' Roboto;
// $title-font-family:'Ubuntu', Roboto, sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI" !default;
$title-font-family:'Arial', Roboto;
$mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace !default;
// $fallback-font-family: "Helvetica Neue", sans-serif !default;
$fallback-font-family: "Poppins";
$cjk-zh-font-family: $base-font-family, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", $fallback-font-family !default;
$cjk-jp-font-family: $base-font-family, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo, $fallback-font-family !default;
$cjk-ko-font-family: $base-font-family, "Malgun Gothic", $fallback-font-family !default;
$body-font-family: $base-font-family, $fallback-font-family;

// Unit sizes
$unit-o: .05rem !default;
$unit-h: .1rem !default;
$unit-1: .2rem !default;
$unit-2: .4rem !default;
$unit-3: .6rem !default;
$unit-4: .8rem !default;
$unit-5: 1rem !default;
$unit-6: 1.2rem !default;
$unit-7: 1.4rem !default;
$unit-8: 1.6rem !default;
$unit-9: 1.8rem !default;
$unit-10: 2rem !default;
$unit-12: 2.4rem !default;
$unit-16: 3.2rem !default;

// Font sizes
$html-font-size: 22px !default;
$html-line-height: 1.428571429 !default;
$font-size: .8rem !default;
$font-size-sm: .6rem !default;
$font-size-lg: .8rem !default;
$line-height: 1rem !default;

// Sizes
$layout-spacing: $unit-2 !default;
$layout-spacing-sm: $unit-1 !default;
$layout-spacing-lg: $unit-4 !default;
$border-radius: $unit-h !default;
$border-width: $unit-o !default;
$border-width-lg: $unit-h !default;
$control-size: $unit-8 !default;
$control-size-sm: $unit-6 !default;
$control-size-lg: $unit-10 !default;
$control-padding-x: $unit-2 !default;
$control-padding-x-sm: $unit-2 * .75 !default;
$control-padding-x-lg: $unit-2 * 1.5 !default;
$control-padding-y: ($control-size - $line-height) / 2 - $border-width !default;
$control-padding-y-sm: ($control-size-sm - $line-height) / 2 - $border-width !default;
$control-padding-y-lg: ($control-size-lg - $line-height) / 2 - $border-width !default;
$control-icon-size: .7rem !default;
$control-min-width: 180px !default;
$control-max-width: 320px !default;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

// Z-index
$zindex-0: 1 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;
$zindex-4: 400 !default;
// SPECTRE VARIABLES END


// SITE SPECIFIC VARIABLES

$max-page-width: 960px;
$navbar-height: 100px;

$text-color: lighten($dark-color, 20%);
$text-color-inverse: transparentize(#FFFFFF, 0.1);

$alternate-bg-color: #F9F9F9;

$footer-color: #2D2D2D;
$footer-text-color: lighten($footer-color, 30%);
